h1 {
    text-align: center;
    color: white;
    background-color: black;
}   

p {
    text-align: center;
    color: white;
    background-color: black;
}

h2 { 
    text-align: center;
    color: white;
    background-color: black;
}



image.png {
    text-align: center;
    color: white;
    background-color: black;
}

